<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>Kreiraj nalog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sadrzaj">
    <div class="divKontaktSlika">
      <img src="../../../assets/icon/contacts-removebg-preview.png" alt="" class="kontaktSlika">
    </div>
    <div class="divNaslov">
      <h1 class="naslov">
        KREIRAJ NALOG
      </h1>
    </div>
    <div class="unosPodataka">

      <div class="unosIme">
        <label class = "item-item-input">
          <input type = "text" placeholder = "Ime" class="prostorZaIme" [(ngModel)]="name"/>
       </label>
      </div>

      <div class="unosEmail">
        <label class = "item-item-input">
          <input type = "text" placeholder = "Email" class="prostorZaEmail" [(ngModel)]="email"/>
       </label>
      </div>

      <div *ngIf="!showPassword" class="unosSifra">
        <label class = "item-item-input">
          <input type = "password" placeholder = "Sifra" class="prostorZaSifra" [(ngModel)]="password"/>
       </label>
       <img src="../../../assets/icon/showPassword-removebg-preview.png" alt="" class="showPasswordSlika" (click)="promeniVidljivostSifre()">
      </div>

      <div *ngIf="showPassword" class="unosSifra">
        <label class = "item-item-input">
          <input type = "text" placeholder = "Sifra" class="prostorZaSifra" [(ngModel)]="password"/>
       </label>
       <img src="../../../assets/icon/hidePassword-removebg-preview.png" alt="" class="showPasswordSlika" (click)="promeniVidljivostSifre()">
      </div>

      <div *ngIf="!showReEnterPassword" class="unosSifra">
        <label class = "item-item-input">
          <input type = "password" placeholder = "Ponovo unesi sifru" class="prostorZaSifra" [(ngModel)]="reEnteredPassword"/>
       </label>
       <img src="../../../assets/icon/showPassword-removebg-preview.png" alt="" class="showPasswordSlika" (click)="promeniVidljivostPonovneSifre()">
      </div>

      <div *ngIf="showReEnterPassword" class="unosSifra">
        <label class = "item-item-input">
          <input type = "text" placeholder = "Ponovo unesi sifru" class="prostorZaSifra" [(ngModel)]="reEnteredPassword"/>
       </label>
       <img src="../../../assets/icon/hidePassword-removebg-preview.png" alt="" class="showPasswordSlika" (click)="promeniVidljivostPonovneSifre()">
      </div>

      <div class="ispodUnosa">
        <label for="linkKaSignup" class="linkKaSignup">
          Vec imate nalog? <a href="/login" style="color:black;">Ulogujte se</a>
        </label>
        <ion-buttons slot="end" class="proceedButton">
          <img src="../../../assets/icon/proceedButton-removebg-preview.png" alt="" class="proceedButtonSlika" (click)="signup()">
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>
