<ion-header>
  <ion-toolbar>
    <ion-grid class="headerGrid">
      <ion-row>
        <ion-col>
          <ion-title class="ion-text-center">
            Kontakti
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> 

   
  <ion-content [fullscreen]="true">
    <ion-list *ngFor="let kontakt of kontakti">
    <ion-card>
    <ion-card-content>
      <div class="podaci" (click)="goToPrikazKontaktaPage(this.kontakt)">
        <ion-card-title>{{kontakt.ime}} {{kontakt.prezime}}</ion-card-title>
        <ion-label class="brojTelefona">{{kontakt.brojTelefona}}</ion-label> 
      </div> 
      <div class="star">
        <img  *ngIf="kontakt.omiljeniKontakt===true" src="../../assets/icon/star-removebg-preview.png" alt="" class="starSlika">
      </div>
      <div class="meni">
        <button class="dugmeMeni" id="'open-popover'+{{kontakt.id}}">
            <img src="../../assets/icon/whiteDotsRemove.png" alt="" class="slikaTri">
        </button>
        <ion-popover [keepContentsMounted]="true" trigger="'open-popover'+{{kontakt.id}}">
          <ng-template class="otvoreni-meni">
            <ion-content class="ion-padding">
              <div class="meni-izmeni" (click)="goToIzmeniKontaktPage(kontakt)">
                Izmeni Kontakt
              </div>
              <div clas="meni-obrisi" (click)="deleteKontaktAndClosePopover(this.kontakt)">
                Obrisi Kontakt
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
    </ion-card-content>
    </ion-card>
    </ion-list>    
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToDodajKontaktPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
